
  <!-- <%= @location%> -->
<h1> Welcome to Food Finder </h1>

<h2>Find by my location</h2>

<<<<<<< HEAD
<button id="button">Find Me</button>
<!-- <p id="alert"></p> -->

=======
</p>


<button id="button">Find me by my location</button>

<div id="restaurants">
  <img class="restaurant" />
</div>


<h2>Find restaurants by location</h2>
>>>>>>> 855c5eb2e92645445d98e2529d26114e94f62835

<h2>I'll enter my location</h2>

<%= form_tag ('/locations/show') do  %>
<p>
 <%= label_tag :search  %>
 <%= text_field_tag :search_location  %>
</p>

<p>
 <%= submit_tag 'Find Restaurants'  %>
</p>

<% end %>

<!-- <%= link_to 'Register'  %> -->
