<h1>Restaurants Near You:</h1>

<% loc = @locations.sample %>
<div class="restaurant">
  <h4>
      <strong>Name:</strong>
      <%= loc.name %>
  </h4>

  <p>
      <%= image_tag(loc.image) %>
  </p>

  <strong>Address:</strong>
  <p id="directions-btn">
    <%= loc.address %>
  </p>

  <p>
      <strong>Price Range:</strong>
      <%= loc.price_range %>
  </p>

  <p>
      <strong>Rating:</strong>
        <%= loc.rating%><span> / 5</span>
  </p>

  <div class="search_location">
      <%= submit_tag 'Next' %>
  </div>


  <button>
    <%= link_to "Home", root_path %>
  </button>


    <p>
      <!-- <%#= link_to(https://www.google.com/search?q=wynwood+images&oq=dog+images), 'images'  %> -->
      <%= link_to "Google Images", "https://www.google.com/search?q=#{loc.name}+images&oq=#{loc.address}+images" %>
  <!-- # => <a href="/searches?query=ruby+on+rails">Ruby on Rails search</a> -->
    </p>


  <button id="directions">
    Directions
  </button>

</div>
